body {
  font-family: Arial, sans-serif;
  background-image: url("imges.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.new-note {
  margin-bottom: 20px;
}

.new-note input,
.new-note textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}




.new-note button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.notes-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.note {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
}

.note-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.note-content {
  margin-bottom: 10px;
}

.note-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.note-link {
  display: block;
  color: #007bff;
  text-decoration: none;
}



.delete-note {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #dc3545;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}